 *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	line-height: 1;
}
p{
	line-height:1.333333334;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	text-align: justify;
}
.doscolumnas{
	-webkit-column-count: 2;
	-moz-column-count:2;
	column-count: 2;
}
.modif {
    color: green;
    animation-duration: 2s;
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2 ,start);
}

.normal{
    font-size: 36px;
}
@keyframes parpadeo {
    50% {
        visibility: hidden;
    }
}
#izquierda {
	margin: 0px;
	position:absolute;
	top: 3%;
	left: 2%;
}
#derecha{
        font-size: 80px;
	margin: 0px;
	position:absolute;
	top: 0;
	right: 0;
}
h1{
	position:absolute;
	top: 1%;
	left: 65%;
	font-size: 36px;
	color: black;
}
.cambios{

}
