body {
    background-image: url("images/fondo.png");
    font-family: sans-serif; 
    font-variant: normal;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

table {
    border-color: transparent;
    text-align: center;
    border-spacing:  6px;
}

select{
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 250px;
}

.blink {
    color: green;
    font-weight: bolder;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: 3;
    animation-timing-function: steps(2 ,start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

#nombreMonitor{
    font-size: 42px;
}

.nombre{
    width: 120%;
    height: 6%;
    padding: 5px;
    background: white;
    border-radius: 3px;
    margin-bottom: 3px;
}

.colorTd{
    align: left;
    border-radius: 15px;
    background:  #0017fd;
    text-align:center;
}

.letra{
    color: black;
    font-weight: bolder;
}

.letraNaranja{
    color: #ff6600;
}

.myTd1 {
    height: 70px;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.monitorTeclaLeft {
    height: 40%;
    font-size: 5em;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.monitorTeclaRight {
    height: 40%;
    font-size: 5em;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.myTd3 {
    width:200px;
    height: 60px;
    font-size: 20px;
    font-family: sans-serif;
    background: #FFFFFF;
    color: black;
}
.employed{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.buttonRegEmp{
    width:  300px;
    height: 80px;
    background: #ff6600;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.estadoLlamando {
    width: 32%;
    background: yellow;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.estadoLlamandoRec {
    background: yellow;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendo {
    width: 32%;
    background: orange;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendoRec {
    background: orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresento {
    width: 32%;   
    background: red;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresentoRec {
    background: red;
    color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.siguiente{
    display:inline-block;
    background: #1ffd00;
    border:solid 3px #000000;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
   
}

.queueSelection{
    color: white;
    text-align:center;
    padding: .5em 2em .55em;
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.queueTitle{
    background: #ff6600;
    border:solid 3px #ffffff;
    width: 100%;
    font-size: 3em;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.queueInformation{
    background: #9bc928;
    border:solid 3px #ffffff;
    width: 100%;
    min-height: 2em;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.center {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.formulario{
    font-size: large;
    color:black;
    width: 40%;
    height: 20%;
    background: #ffffff;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formularioCliente{
    background: white;
    padding: 1%;
}
.clientePosicion{
    height: 15%;
    text-align: center; 
    background: orange;
    border-radius: 10px;
}

.myButton{
    color: white;   
    display:inline-block;
    background: #ff6600;
    border:solid 3px #ffffff;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

.buttonEmployed{
    color: #ff6600;   
    display:inline-block;
    background: #ffffff;
    border:solid 3px #ffffff;
    width: 100%;
    height: 14%;
    font-size: 2em;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.izq {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.1em;
}

.der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.6em;
    vertical-align: middle;
}

.fuente{
    text-indent: 1cm;
}

.userbox{
    border-color: white;
    width: 2.1%; 
    height: 2.1%; 
    background: white;
    color: black;
    border-radius: 3px;
}

.user{
    border-color: white;
    width: 20%; 
    height: 30%; 
    background: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.cuadrado{
    border-color: white;
    width: 32%;
    background: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
}

.rectangulo {
    /* height: 17.3%;*/
    color: black;
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}


#text2{
    text-align: center;
    font-size: 20px;
    color: black;
}

#left{
    float: left;
}

#right {
   float: right;
}

#izquierda {
	position:absolute;
	top: 0%;
	left: 0%;
}

#derecha{
	margin: 0px;
	position:absolute;
	top: 20%;
	right: 16.5%;
}

#logo {
    position: absolute;
    width: 200px;
    top: 60%;
    left: 42%;
    right: 40%;
}    

#menuPrincipal a{
    width: 250px;
}

#hora{
    font-size: 80%;
    margin: 0px;
}

#minutos{
    font-size: 140%;
    font-weight: bold;
}

#radio{
    border-radius: 20px;    
}

#imagenPosicion{
    width: 0; 
    height: 0; 
    border-left: 35px solid #1B8A0A;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent; 
    position: absolute;
    top: 20%;
    left: 89%;
}

#llamarNuevamente{
    display:inline-block;
    background: #ffffff;
    border:solid 3px #000000;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.espera{
    background: #ffffff;
    font-size: 2.3vw;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: #ff6600;
}
.posicionEspera{
    position: absolute;
    top: 70%;
    left: 3%;
}

.posicionEsperaLl{
    position: absolute;
    top: 77%;
    left: 3%;
}

.noPresente{
    background: #ff0000;
    color: black;
    font-size: 2.3vw;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.finAtencion{
    background: #9bc928;
    height: 40%;
    color: black;
    font-size: 3vw;
    text-align: center; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

#der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}

.encabezado{
    font-size: 40px;
    color: #ff6600;
    height: 12%;
    border-radius: 10px;
    background: #FFFFFF;
}

.radiuss{
    border-radius: 15px;
    position: absolute;
    top: 6%;  
    right: 8%;
}
.ubiBoton{
    position: absolute;
    top: 23%;
    right: 10%;
}

#global {
    height: 80%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background-image: url("images/fondo.png");
    border-radius: 5px;
}
.myContenedor{
    height: 80%;
}
.llamados{
    margin-top: 5px;
    height: 200px;
    width: 110%;
    overflow-y: scroll;
    background: white;
}

.letraCuadrado{
    font-family: sans-serif;
    font-size: 3vw;
    color: black;
    text-align: center;
}
.obraSocial{
    position: relative;
    top: 3px;
    left: 30px;
    font-size: 1.3em;
    font-family: sans-serif;
}
.horaNormal{
    position: relative;
    top: -18px;
    left: 190px;
    font-size: 15px;
    font-family: sans-serif;
}
.horaEspera{
    font-size: 2.6vw;
    font-family: sans-serif;
}

.botonLlama{
    text-align: center;
    background: yellow;
    color: black;
    font-size: 2vw;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.fechas {
    text-align: center;
    height: 60px;
    background: #FFFFFF;
    color: black;
    border-bottom: solid black;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 1px;
}

.posicionAdmin{
    position: absolute;
    top: 3.8%;
    right: 29%;
}

.textFecha{
    font-size: 2vw;
    font-family: sans-serif;
}

.textFechaCentro{
    font-size: 1vw;
    font-family: sans-serif;
}

.textFechaDer{
    font-size: 1.2vw;
    font-family: sans-serif;
}

.registrarEmpleado{
    text-align: center;
    background: #ff6600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.registrarEmpleadoMo{
    text-align: center;
    background: #ff6600;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.registrarImg{
    text-align: center;
    background: #ff6600;
    width: 40%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.registrarImgBox{
    color: black;
    text-align: center;
    background: #ffffff;
    width: 40%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.checkMo{
    background: #FFFFFF;
    text-align: left;
    width: 60%;
    font-size: 20px;
    min-height: 15%;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.check{
    background: #FFFFFF;
    text-align: left;
    width: 98%;
    font-size: 20px;
    min-height: 15%;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tarjeta{
    margin-bottom: 40px;
    border: solid;
    background: #FFFFFF;
    color: black;
    font-size: 40px;
    text-align: center
}

@font-face {  
    font-family: codebar ;  
        src: url( ConnectCode39.ttf ); /*format("truetype")*/
    }  
	 
p.code { font-family: codebar; }

h1.presentacion{
    text-align: center;
    background: #ff6600;
    color: white;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

