body {
    background-image: url("images/fondo.png");
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-style: normal;
    color: white;
}

a, table, td, th, tr, p, h1, h2{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

table {
    border-color: transparent;
    text-align: center;
    border-spacing:  6px;
}

td, tr, th{
    color: black;
    border-color: transparent;
    text-align: center;
}

.colorTd{
    align: left;
    border-radius: 15px;
    background:  #0017fd;
    /*border:solid 3px #000000; */
    text-align:center;
}

.letra{
    min-width:250px;
    font-weight: bolder;
}

.myTd1 {
    width:300px;
    height: 70px;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.myTd2 {
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.myTd3 {
    width:150px;
    height: 60px;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.estadoLlamando {
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    background: #F3FF02;
    border:solid 3px #F3FF02;
}

.estadoAtendiendo {
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    background: #FF7402;
    border:solid 3px #FF7402;
}

.estadoNoPresento {
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    background: #FF0F02;
    border:solid 3px #FF0F02;
}

.siguiente{
    display:inline-block;
    background: #1ffd00;
    border:solid 3px #000000;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: black;
}

.queueSelection{
    color: white;
    text-align:center;
    padding: .5em 2em .55em;
    display: inline-block;
    min-width:250px;
    font-weight: bold;
}

.queueTitle{
    background: #ff6600;
    border:solid 3px #ffffff;
    width: 100%;
    font-size: 2em;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}

.queueInformation{
    background: #9bc928;
    border:solid 3px #ffffff;
    width: 100%;
    min-height: 2em;
    font-size: 1em;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
}

.center {
    width: 100%; 
    text-align: center;
    display: inline-block;
}

.myButton{
    display:inline-block;
    background: #ff6600;
    border:solid 3px #ffffff;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.izq {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: .75em;
}

.der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}

.fuente{
    text-indent: 1cm;
}

#text{
    position: relative;
    font-size: 20px;
    color: orange;
    top: -10px;
}

#left{
    float: left;
}

#right {
   float: right;
}

#izquierda {
	margin: 0px;
	position:absolute;
	top: 1%;
	left: 1%;
}

#derecha{
	margin: 0px;
	position:absolute;
	top: 1%;
	right: 1%;
}

#logo {
    width: 200px;
}    

#menuPrincipal a{
    width: 250px;
}

#hora{
    font-size: 80%;
    margin: 0px;
}

#minutos{
    font-size: 140%;
    font-weight: bold;
}

#radio{
    border-radius: 20px;    
}

#imagenPosicion{
    width: 0; 
    height: 0; 
    border-left: 50px solid #1B8A0A;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    position: relative;
    top: 12px;
    right: -60px;
}

#cuadrado{
    position: relative;
    width: 50px; 
    height: 50px; 
    border: 3px solid #555;
    border-radius: 5px;
    background: #428bca;
}
