body {
    background-image: url("images/fondo.png");
    font-family: "Arial", sans-serif;
    color: white;
}

a {
    color: white;
    font-size:15px;
    text-decoration: none;
}

table {
    border-radius: 10px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:15px;
    text-align: right;
    
    width: 250px;
    height: 350px;
    border:solid 3px #000000; 
}

th, td {
    align: left;
    min-width: 300px;
    min-height: 400px;
    border-radius: 10px;
    background:  #0017fd;
    border:solid 3px #000000; 
    text-align:center;
}

.myTd1 {
    border-radius: 10px;
    background: #fd0000;
    border:solid 3px #ffffff; 
}

.myTd2 {
    border-radius: 10px;
    background: #fd6800;
    border:solid 3px #ffffff; 
}

.siguiente{
    display:inline-block;
    background: #1ffd00;
    border:solid 3px #000000;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: black;
}

.queueSelection{
    color: white;
    text-align:center;
    padding: .5em 2em .55em;
    display: inline-block;
    min-width:250px;
    font-weight: bold;
}

.queueTitle{
    background: #ff6600;
    border:solid 3px #ffffff;
    width: 100%;
    font-size: 2em;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}

.queueInformation{
    background: #9bc928;
    border:solid 3px #ffffff;
    width: 100%;
    min-height: 2em;
    font-size: 1em;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
}

.center {
    width: 100%; 
    text-align: center;
    display: inline-block;
}

.myButton{
    
    font-family: time new roman; 
    display:inline-block;
    background: #ff6600;
    border:solid 3px #ffffff;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.izq {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: .75em;
}

.der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}
.fuente{
    font-family: time new roman; 
    text-indent: 1cm;
}

#left{
    float: left;
}

#right {
   float: right;
}

#logo {
    width: 200px;
}    

#menuPrincipal a{
    width: 250px;
}
