body {
    background-image: url("images/fondo.png");
    font-family: sans-serif; 
    font-variant: normal;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

table {
    border-color: transparent;
    text-align: center;
    border-spacing:  6px;
}

td, tr, th{
    color: black;
    border-color: transparent;
    text-align: center;
}

select{
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 250px;
}

.blink {
    color: green;
    font-weight: bolder;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: 3;
    animation-timing-function: steps(2 ,start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

@media screen and (max-width: 900px) {
    img{
        display: none;
    }
    .queueSelection{
        color: white;
        text-align:center;
        padding: 40%;
        display: inline-block;
        width: 80%;
        font-weight: bold;
    }

    .queueTitle{
        background: #ff6600;
        border:solid 3px #ffffff;
        width: 100%;
        height: 5%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;    
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .queueInformation{
        background: #9bc928;
        border:solid 3px #ffffff;
        width: 100%;
        height: 5%;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 3%;    
        padding-top: 4%;
        padding-bottom: 4%;
        
    }
    
    .izq {
        width: 20%;
        height: 5%;
        float: left;
        min-height: 2em;
        font-size: 1.1em;
    }

    .der {
        width: 20%;
        height: 5%;
        float: left;
        min-height: 2em;
        font-size: 1.6em;
    }
}

#nombreMonitor{
    font-size: 42px;
}

.nombre{
    width: 120%;
    height: 6%;
    padding: 5px;
    background: white;
    border-radius: 3px;
    margin-bottom: 3px;
}

.colorTd{
    align: left;
    border-radius: 15px;
    background:  #0017fd;
    text-align:center;
}

.letra{
    color: black;
    font-weight: bolder;
}

.myTd1 {
    width:300px;
    height: 70px;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.myTd2 {
    color: black;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
    padding: 3px;
}
.monitorTeclaLeft {
    width: 300px;
    height: 110px;
    font-size: 70px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: #FFFFFF;
    color: #ff6600;
/*    padding-bottom: 10%;*/
    margin-bottom: 10px;
    position: fixed;
    top: 0%;
    right: 24.9%;
}

.monitorTeclaRight {
    width: 466px;
    height: 110px;
    font-size: 70px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFFFFF;
    color: #ff6600;
/*    padding-bottom: 7%;*/
    margin-bottom: 5px;
    position: fixed;
    top: 0%;
    right: 0.3%;
}

.monitorTeclaIzq {
    width: 123%;
    height: 160.5px;
    font-size: 80px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: #FFFFFF;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 13%;
    padding-top: 8%;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    border-color: white;
    display: inline-block;
    position: relative;
    top: -105px;
    right: 219px;
}
.monitorTeclaDer {
    font-weight: bolder;
    display:inherit;
    width: 172%;
    height: 160.5px;
    /*text-align: center;*/
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFFFFF;
    color: black;
    padding-left:  6%;
    padding-right:   6%;
    padding-top: 10%;
    padding-bottom: 10;
    margin-bottom: 5px;
    position: relative;
    top: -135.5px;
    right: -289px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.monitorTeclaPosicion{
    position: relative;
    top: 5%;
    right: 0%;
    font-size: 73px;
}

.monitorVideos{
    background: #FFFFFF;
    text-align: left;
    width: 40%;
    border-radius: 10px;
    font-size: 20px;
    min-height: 15%;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}


.myTd3 {
    width:200px;
    height: 60px;
    font-size: 20px;
    font-family: sans-serif;
    background: #FFFFFF;
    color: black;
}
.employed{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.buttonRegEmp{
    width:  300px;
    height: 80px;
    background: #ff6600;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.estadoLlamando {
    width: 105px; 
    height: 85px; 
    background: yellow;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.estadoLlamandoRec {
    width: 275px;
    height: 85px;
    background: yellow;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendo {
    width: 105px; 
    height: 85px; 
    background: orange;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendoRec {
    width: 275px;
    height: 85px;
    background: orange;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresento {
    
    width: 105px; 
    height: 85px;     
    background: red;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresentoRec {
    width: 275px;
    height: 85px;
    background: red;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.siguiente{
    display:inline-block;
    background: #1ffd00;
    border:solid 3px #000000;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
   
}

.queueSelection{
    color: white;
    text-align:center;
    padding: .5em 2em .55em;
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.queueTitle{
    background: #ff6600;
    border:solid 3px #ffffff;
    width: 100%;
    font-size: 3em;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.queueInformation{
    background: #9bc928;
    border:solid 3px #ffffff;
    width: 100%;
    min-height: 2em;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.center {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.formulario{
    font-size: large;
    color:black;
    width: 40%;
    height: 20%;
    background: #ffffff;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formularioCliente{
    position: absolute;
    background: white;
    width: 40%;
    top: 30%;
    right: 30%;
}
.clientePosicion{
    width: 40%;
    height: 8%;
    text-align: center; 
    background: orange;
    border-radius: 10px;
    position: absolute;
    padding-top: 1%;
    top: 15%;
    right: 30%;
}
.inputText{
    width: 75%;
    color: gray;
    padding: 3px;
    margin-top: 2px;
}

.myButton{
    color: white;   
    display:inline-block;
    background: #ff6600;
    border:solid 3px #ffffff;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.buttonEmployed{
    color: #ff6600;   
    display:inline-block;
    background: #ffffff;
    border:solid 3px #ffffff;
    width: 100%;
    height: 10%;
    font-size: 2em;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.izq {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.1em;
}

.der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.6em;
    vertical-align: middle;
}

.fuente{
    text-indent: 1cm;
}

.userbox{
    border-color: white;
    width: 2.1%; 
    height: 2.1%; 
    background: white;
    color: black;
    border-radius: 3px;
}

.user{
    border-color: white;
    width: 20%; 
    height: 30%; 
    background: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.cuadradoMostrar{
    border-color: white;
    width: 7.8%; 
    height: 13.3%; 
    background: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    top: 3%;
    right: 23%;
}

.rectanguloMostrar {
    width: 250%;
    height: 100%;
    background: white;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    top: -50px;
    left: 110px;
}

.cuadrado{
    border-color: white;
    width: 28%; 
    height: 17.3%; 
    background: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
}

.formUbicacion{
    position: absolute;
    top: 20%;
    right: 30%;
    width: 38%;
    height: 40%;
}

.rectangulo {
    width: 245%;
    height: 100%;
    background: white;
    position: relative;
    top: -56%;
    right: -107%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#text{
    text-align: left;
    font-size: 30px;
    color: #ff6600;
    padding: 7px;
}

#text2{
    text-align: center;
    font-size: 20px;
    color: black;
}

#left{
    float: left;
}

#right {
   float: right;
}

#izquierda {
	position:absolute;
	top: 0%;
	left: 0%;
}

#derecha{
	margin: 0px;
	position:absolute;
	top: 20%;
	right: 16.5%;
}

#logo {
    position: absolute;
    width: 200px;
    top: 60%;
    left: 42%;
    right: 40%;
}    

#menuPrincipal a{
    width: 250px;
}

#hora{
    font-size: 80%;
    margin: 0px;
}

#minutos{
    font-size: 140%;
    font-weight: bold;
}

#radio{
    border-radius: 20px;    
}

#imagenPosicion{
    width: 0; 
    height: 0; 
    border-left: 30px solid #1B8A0A;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    position: absolute;
    top: 6%;
    left: 27%;
}

#llamarNuevamente{
    display:inline-block;
    background: #ffffff;
    border:solid 3px #000000;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

#espera{
    display:inline-block;
    background: #ffffff;
    width: 20%;
    height: 10%;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;

    color: #ff6600;
}
.posicionEspera{
    position: absolute;
    top: 70%;
    left: 3%;
}

.posicionEsperaLl{
    position: absolute;
    top: 77%;
    left: 3%;
}

#noPresente{
    
    display:inline-block;
    background: #ff0000;
    height: 8%;
    width:20%;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 82%;
    left: 3%;
}

#finAtencion{
    display:inline-block;
    background: #9bc928;
    width: 18%;
    height: 12%;
    font-size: 2em;
    text-align: center; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 77%;
    right: 3%;
}

#der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}

.encabezado{
    font-size: 40px;
    color:orange;
    width: 29%;
    height: 7%;
    border-radius: 10px;
    background: #FFFFFF;
    color: black;
}

.radiuss{
    border-radius: 15px;
    position: absolute;
    top: 6%;  
    right: 8%;
}
.ubiBoton{
    position: absolute;
    top: 23%;
    right: 10%;
}

#global {
    height: 80%;
    width: 30.5%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background-image: url("images/fondo.png");
    border-radius: 5px;
}
#llamados{
    height: 44%;
    width: 21.2%;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    background: white;
    border-radius: 5px;
    
}
#mensajes {
	height: auto;
}

.letraCuadrado{
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
}
.obraSocial{
    position: relative;
    top: 3px;
    left: 30px;
    font-size: 1.3em;
    font-family: sans-serif;
}
.horaNormal{
    position: relative;
    top: -18px;
    left: 190px;
    font-size: 15px;
    font-family: sans-serif;
}
.horaEspera{
    position: relative;
    top: -5px;
    left: 90px;
    font-size: 40px;
    font-family: sans-serif;
}

.botonLlama{
    text-align: center;
    height: 8.5%;
    width: 20%;
    background: yellow;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 9%;
    left: 3.5%;
}

.fechas {
    width:270px;
    text-align: center;
    height: 90px;
    background: #FFFFFF;
    color: black;
    border-bottom: solid black;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 1px;
}
.posicion{
    position: absolute;
    top: 21%;
    left: 3.5%;
}
.posicionAdmin{
    position: absolute;
    top: 3.8%;
    right: 29%;
}

.textFecha{
    font-size: 35px;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: -25px;
}

.textFechaCentro{
    font-size: 10px;
    font-family: sans-serif;
    position: relative;
    top: 15px;
    left: 0px;
}

.textFechaDer{
    font-size: 22px;
    font-family: sans-serif;
    position: relative;
    top: -80px;
    right: -27px;
}

.registrarEmpleado{
    text-align: center;
    background: #ff6600;
    width: 97.5%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.registrarEmpleadoMo{
    text-align: center;
    background: #ff6600;
    width: 60%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.registrarImg{
    text-align: center;
    background: #ff6600;
    width: 40%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.registrarImgBox{
    color: black;
    text-align: center;
    background: #ffffff;
    width: 40%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.checkMo{
    background: #FFFFFF;
    text-align: left;
    width: 60%;
    font-size: 20px;
    min-height: 15%;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.check{
    background: #FFFFFF;
    text-align: left;
    width: 98%;
    font-size: 20px;
    min-height: 15%;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tarjeta{
    border: solid;
    background: #FFFFFF;
    color: black;
    width: 30%;
    font-size: 30px;
}

@font-face {  
    font-family: codebar ;  
        src: url( ConnectCode39.ttf ); /*format("truetype")*/
    }  
	 
p.code { font-family: codebar; }

h1.presentacion{
    text-align: center;
    background: #ff6600;
    width: 40%;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
