body {
    background-image: url("images/fondo.png");
    font-family: sans-serif; 
    font-variant: normal;
    color: white;
}

table, td, th, tr, p, h1, h2{
    font-family: sans-serif; 
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

table {
    border-color: transparent;
    text-align: center;
    border-spacing:  6px;
}

td, tr, th{
    color: black;
    border-color: transparent;
    text-align: center;
}

select{
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 250px;
}

.blink {
    color: green;
    font-weight: bolder;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2 ,start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

@media screen and (max-width: 900px) {
    img{
        display: none;
    }
    .queueSelection{
        font-size: 12px;
        color: white;
        text-align:center;
        padding: 40%;
        display: inline-block;
        width: 80%;
        font-weight: bold;
    }

    .queueTitle{
        background: #ff6600;
        border:solid 3px #ffffff;
        width: 100%;
        height: 5%;
        /*-webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;    
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .queueInformation{
        background: #9bc928;
        border:solid 3px #ffffff;
        width: 100%;
        height: 5%;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 3%;    
        padding-top: 4%;
        padding-bottom: 4%;
        
    }
    
    .izq {
        width: 20%;
        height: 5%;
        float: left;
        min-height: 2em;
        font-size: 4em;
    }

    .der {
        width: 20%;
        height: 5%;
        float: left;
        min-height: 2em;
        font-size: 3.5em;
    }
}

#nombreMonitor{
    font-size: 42px;
}

.nombre{
    width: 500px;
    height: 50px;
    padding: 5px;
    background: white;
    border-radius: 3px;
    margin-bottom: 3px;
}
.colorTd{
    align: left;
    border-radius: 15px;
    background:  #0017fd;
    text-align:center;
}

.letra{
    min-width:250px;
    font-weight: bolder;
}

.myTd1 {
    width:300px;
    height: 70px;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
}

.myTd2 {
    color: black;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    background: #FFFFFF;
    color: black;
    padding: 3px;
}
.monitorTecla {
    width: 100%;
    height: 50%;
    font-size: 70px;
    text-align: center;
    border-radius: 15px;
    background: #FFFFFF;
    color: orange;
    padding: 6%;
    margin-bottom: 5px;
}

.monitorTeclaIzq {
    width: 47%;
    height: 110px;
    font-size: 70px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: #FFFFFF;
    color: black;
    padding: 6%;
    margin-bottom: 5px;
    border-color: white;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
}
.monitorTeclaDer {
    display:inherit;
    width: 96%;
    height: 140px;
    font-size: 40px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFFFFF;
    color: black;
    padding: 6%;
    margin-bottom: 5px;
    position: relative;
    top: -113px;
    right: -246px;
    margin-bottom: 2px;
    margin-top: 2px;
    
}

.myTd3 {
    width:200px;
    height: 60px;
    font-size: 20px;
    font-family: sans-serif;
    background: #FFFFFF;
    color: black;
}
.employed{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.buttonRegEmp{
    width:  300px;
    height: 80px;
    background: #ff6600;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.estadoLlamando {
    width: 105px; 
    height: 85px; 
    background: yellow;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.estadoLlamandoRec {
    width: 275px;
    height: 85px;
    background: yellow;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendo {
    width: 105px; 
    height: 85px; 
    background: orange;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoAtendiendoRec {
    width: 275px;
    height: 85px;
    background: orange;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresento {
    
    width: 105px; 
    height: 85px;     
    background: red;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.estadoNoPresentoRec {
    width: 275px;
    height: 85px;
    background: red;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.siguiente{
    display:inline-block;
    background: #1ffd00;
    border:solid 3px #000000;
    min-width:150px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
   
}

.queueSelection{
    color: white;
    text-align:center;
    padding: .5em 2em .55em;
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.queueTitle{
    background: #ff6600;
    border:solid 3px #ffffff;
    width: 100%;
    font-size: 3em;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.queueInformation{
    background: #9bc928;
    border:solid 3px #ffffff;
    width: 100%;
    min-height: 2em;
    font-size: 1em;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
    padding-top: 4%;
    padding-bottom: 4%;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.center {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.formulario{
    font-size: large;
    color:black;
    width: 400px;
    height: 40px;
    background: #ffffff;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inputText{
    width: 310px;
    height: 30px;
    border-radius: 10px;
    color: gray;
    padding: 3px;
    margin-top: 2px;
}

.myButton{
    color: white;   
    display:inline-block;
    background: #ff6600;
    border:solid 3px #ffffff;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.buttonEmployed{
    color: #ff6600;   
    display:inline-block;
    background: #ffffff;
    border:solid 3px #ffffff;
    width: 100%;
    height: 10%;
    font-size: 2em;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.izq {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: .75em;
}

.der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}

.fuente{
    text-indent: 1cm;
}

.userbox{
    border-color: white;
    width: 35px; 
    height: 35px; 
    background: white;
    color: black;
    border-radius: 3px;
   
}

.cuadradoMostrar{
    border-color: white;
    width: 105px; 
    height: 85px; 
    background: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    top: 3%;
    right: 23%;
}

.rectanguloMostrar {
    width: 275px;
    height: 85px;
    background: white;
    position: relative;
    top: -50px;
    right: -110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    top: -50px;
    left: 110px;
}

.cuadrado{
    border-color: white;
    width: 105px; 
    height: 85px; 
    background: white;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
}

.formUbicacion{
    position: absolute;
    top: 33%;
    right: 32%;
}

.rectangulo {
    width: 275px;
    height: 85px;
    background: white;
    position: relative;
    top: -59%;
    right: -107%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#text{
    text-align: left;
    font-size: 30px;
    color: #ff6600;
    padding: 7px;
}

#text2{
    text-align: center;
    font-size: 20px;
    color: black;
}

#left{
    float: left;
}

#right {
   float: right;
}

#izquierda {
	position:absolute;
	top: 1%;
	left: 1%;
}

#derecha{
	margin: 0px;
	position:absolute;
	top: 1%;
	right: 4%;
}

#logo {
    position: absolute;
    width: 200px;
    top: 60%;
    left: 42%;
    right: 40%;
}    

#menuPrincipal a{
    width: 250px;
}

#hora{
    font-size: 80%;
    margin: 0px;
}

#minutos{
    font-size: 140%;
    font-weight: bold;
}

#radio{
    border-radius: 20px;    
}

#imagenPosicion{
    width: 0; 
    height: 0; 
    border-left: 30px solid #1B8A0A;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    position: relative;
    top: 5px;
    right: -205px;
}

#llamarNuevamente{
    display:inline-block;
    background: #ffffff;
    border:solid 3px #000000;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

#espera{
    display:inline-block;
    background: #ffffff;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;

    color: #ff6600;
}
.posicionEspera{
    position: absolute;
    top: 77%;
    left: 3%;
}

.posicionEsperaLl{
    position: absolute;
    top: 77%;
    left: 3%;
}

#noPresente{
    
    display:inline-block;
    background: #ff0000;
    height: 50px;
    width:250px;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 65%;
    left: 3%;
}

#finAtencion{
    display:inline-block;
    background: #9bc928;
    width:230px;
    height: 70px;
    font-size: 2em;
    text-align: center; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 77%;
    right: 3%;
}

#der {
    width: 50%;
    float: left;
    min-height: 2em;
    font-size: 1.5em;
    vertical-align: middle;
}

.encabezado{
    font-size: 40px;
    color:orange;
    width: 29%;
    height: 7%;
    border-radius: 10px;
    background: #FFFFFF;
    color: black;
}

.radiuss{
    border-radius: 15px;
    position: absolute;
    top: 6%;  
    right: 8%;
}
.ubiBoton{
    position: absolute;
    top: 23%;
    right: 10%;
}

#global {
    height: 80%;
    width: 30.5%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background-image: url("images/fondo.png");
    border-radius: 5px;
}
#llamados{
    height: 400px;
    width: 410px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    background: white;
    border-radius: 5px;
    
}
#mensajes {
	height: auto;
}

.letraCuadrado{
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
}
.obraSocial{
    position: relative;
    top: 3px;
    left: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.horaNormal{
    position: relative;
    top: -18px;
    left: 190px;
    font-size: 15px;
    font-family: sans-serif;
}
.horaEspera{
    position: relative;
    top: -5px;
    left: 140px;
    font-size: 40px;
    font-family: sans-serif;
}

.botonLlama{
    height: 50px;
    width: 393px;
    background: yellow;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 130px;
    right: 480px;
}

.fechas {
    width:387px;
    text-align: center;
    height: 90px;
    background: #FFFFFF;
    color: black;
    border-bottom: solid black;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 1px;
}
.posicion{
    position: absolute;
    top: 31.8%;
    right: 35.1%;
}
.posicionAdmin{
    position: absolute;
    top: 3.8%;
    right: 35.1%;
}
.atender{
    color: white;   
    display:inline-block;
    background: #ff6600;
    height: 70px;
    width:230px;
    font-size: 48px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 77%;
    right: 2%;
}
.textFecha{
    font-size: 60px;
    font-family: sans-serif;
    position: relative;
    top: 10px;
    left: -130px;
}

.textFechaCentro{
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    top: -30px;
    left: -10px;
}

.textFechaDer{
    font-size: 28px;
    font-family: sans-serif;
    position: relative;
    top: -60px;
    left: 130px;
}

#atendiendo{
    width: 500px;
    height: 60px;
    background: #ff6600;
    color:white;
    font-size: 50px;
    font-family: sans-serif;
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    top: 22%;
    right: 32%;
}

.registrarEmpleado{
    text-align: center;
    background: #ff6600;
    width: 400px;
    min-height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
    top: 10%;
}
.check{
    background: #FFFFFF;
    width: 400px;
    font-size: 20px;
    min-height: 100px;
    padding: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}